###################################################################
# .gitignore file for Android, Java, Eclipse and IntelliJ project #
###################################################################

.DS_Store

.classpath
.project
.settings/

*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties

proguard/

.gradle/
build/

local.properties

.mtj.tmp/

##*.jar
*.war
*.ear

hs_err_pid*

.idea/
*.iml
*.iws

